<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite" verbose="2" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="SampleTestCase"></listener>
    </listeners>
    <!--Thread count->how many browsers should open, verbose=how many methods to execute-->
    <test thread-count="5" name="TestNgExamples">
       <!--<parameter name="Name" value="Duck"></parameter>-->
      <!--<groups><run><include name="Lenova"></include></run></groups>-->
        <classes>
            <class name="SampleTestCase"/>
            <!--<class name="Parameterization"></class>-->
        </classes>
    </test> <!-- TestNgExamples -->
</suite> <!-- Default Suite -->


<!--Testng used to solve real life program-->